/* CSS変数の定義 */
:root {
    --background-dark: #333; /* ヘッダーとフッターの背景色 */
    --text-color-light: #fff; /* ヘッダーとフッターのテキスト色 */
    --accent-color: #df720e; /* アクセント色、ボーダーなど */
    --text-color-dark: #333; /* ナビゲーションのテキスト色 */
    --background-light: #f4f4f4; /* bodyの背景色 */
    --content-background: #f9f9f9; /* コンテンツの背景色 */
    --text-color-general: #666; /* 一般テキスト色 */
}

/* 全体の基本スタイル設定 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-light);
}

/* ヘッダーのスタイル */
header {
    background-color: var(--background-dark);
    color: var(--text-color-light);
    padding-top: 20px;
    min-height: 70px;
    border-bottom: var(--accent-color) 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 12px;
}

/* ナビゲーションメニューのスタイル */
nav ul {
    padding: 0;
    background-color: var(--text-color-light);
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color-dark);
}

/* コンテンツエリアのスタイル */
.container {
    padding: 20px;
}

/* フッターのスタイル */
footer {
    background-color: var(--background-dark);
    color: var(--text-color-light);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

/* コンテンツのスタイル */
.contents {
    text-align: left;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: var(--content-background);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
}

/* セクションタイトルのスタイル設定、目立たせるための色と左側のボーダー */
.contents h2 {
    color: var(--accent-color);
    padding: 0.2rem;
    border-left: 7px solid var(--accent-color); /* 左側のボーダーを強調 */
}

.contents h3 {
    color: var(--accent-color);
    padding: 0.2rem;
    border-left: 7px solid var(--accent-color); /* 左側のボーダーを強調 */
}

.contents p, .contents ul li {
    color: var(--text-color-general);
}

/* 画像のリサイズに関するスタイル */
.resize-image {
    width: 800px;
    height: 450px;
}

/* ヘッダーコンテンツのスタイル */
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.github-icon {
    width: 50px;
    height: auto;
    margin-left: 20px;
}

/* ボタンのスタイル */
.primary-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 30px;
}

.primary-button:hover {
    background-color: #45a049;
}

/* Git用語セクションのスタイル */
.term {
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.term:last-child {
    border-bottom: none;
}

.term h3 {
    margin-top: 0;
}

.term p {
    margin-bottom: 0;
}

.github-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: -0.6rem;
}

